@import '../styles/style.scss';

.contact-us-section {
  background-color: $primary;
  padding-top: 2rem;
}

.contact-row hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 50px;
  border-width: 3px;
  border-color: $accent;
}

.contact-row {
  text-align: center;
}

.contact-row h5 {
  color: #ffffff;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-form-row {
  display: flex;
  flex-direction: row;
}

.contact-form-row input {
  flex-grow: 1;
}