@import '../styles/style.scss';

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.team-item {
  border-radius: 20px;
}

.team-item:hover {
  text-decoration: none;
  -webkit-box-shadow: 10px 11px 29px -1px rgba(230,230,230,1);
  -moz-box-shadow: 10px 11px 29px -1px rgba(230,230,230,1);
  box-shadow: 10px 11px 29px -1px rgba(230,230,230,1);
}

.team-item h5 {
  color: $primary;
  font-weight: 700;
}

.team-item h6 {
  color: #31738f;
  font-size: 0.95em;
  font-weight: 600;
}

.team-item p {
  color: $text;
}